@model MultiPlug.Base.Http.EdgeApp

<section class="row-fluid">

    <div class="row-fluid">
        <div class="box">
            <div class="span3">
                <a style="line-height: 52px;" href="#"><img alt="Raspberry Pi Logo" src="@Raw(Model.Context.Paths.Assets)images/raspberry-pi.png"></a>
            </div>
            <div class="span6">
                <p style="font-size:26px; line-height: 54px; text-align: center; margin: 0px;">Raspberry Pi Configuration</p>
            </div>
            <div class="span3" style="text-align: right;">
                <button id="btn-save" form="formsave" type="submit" value="submit" style="height:54px; width:65px" class="item btn btn-green"><i class="icon-save icon-large"></i><p>Save</p></button>
            </div>
        </div>
    </div>

    @Include("MultiPlug.Ext.RasPi.Config.RaspPiConfig_Settings_Navigation")

    <form id="formsave" action="" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="box-header">Network Identity</h3>
                <div class="box">
                    <div class="row-fluid">
                        <div class="span6"><b>Hostname</b></div>
                        <div class="span6"><input name="Hostname" class="input-block-level" type="text" value="@Raw(Model.Extension.Model.HostName)"></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6"><b>WiFi Country</b></div>
                        <div class="span6">@if(Model.Extension.Model.WiFiCountrySet)
                        {
                            @Model.Extension.Model.WiFiCountry
                        }
                        else
                        {
                            <a href="@Raw(Model.Context.Paths.Home)localisation/">Set WiFi Country</a>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h3 class="box-header">Network Interfaces</h3>
                <div class="box">
                    <div class="row-fluid">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        IP Address
                                    </th>
                                    <th>
                                        Netmask
                                    </th>
                                    <th>
                                        Broadcast
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Interface in @Model.Extension.Model.Interfaces)
                                {
                                    <tr>
                                        <td>@Raw(Interface.Name)</td>
                                        <td>@Raw(Interface.Inet)</td>
                                        <td>@Raw(Interface.Netmask)</td>
                                        <td>@Raw(Interface.Broadcast)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="row-fluid">
            <h3 class="box-header">
                Static IP Addresses
            </h3>


            <div class="box non-collapsible">
                <div class="span6">
                    <h3 class="box-header">Ethernet (eth0)</h3>
                    <div class="box non-collapsible">

                        <div class="row-fluid"><div class="span12"><b>IP Address</b></div></div>
                        <div class="row-fluid"><div class="span12"><input id="Eth0IPAddress" name="Eth0IPAddress" class="input-block-level" type="text" value="@Model.Extension.Model.Eth0IPAddress"></div></div>

                        <div class="row-fluid"><div class="span12"><b>IP 6 Address</b></div></div>
                        <div class="row-fluid"><div class="span12"><input name="Eth0IP6Address" class="input-block-level" type="text" value="@Model.Extension.Model.Eth0IP6Address"></div></div>
                        <div class="row-fluid">
                            <table id="Eth0RoutersTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="span10">Routers</th>
                                        <th class="span2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Eth0Router in @Model.Extension.Model.Eth0Routers)
                                    {
                                        <tr>
                                            <td class="span10"><input name="Eth0Routers" class="input-block-level" type="text" value="@Eth0Router"></td>
                                            <td class="span2"><button type="button" class="btn btn-red btn-deletecolumn"><i class="icon-trash"></i></button></td>
                                        </tr>
                                    }

                                    <tr>
                                        <td class="span10"></td>
                                        <td class="span2"><button type="button" class="btn btn-green" id="btn-neweth0router"><i class="icon-plus"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row-fluid">
                            <table id="Eth0DNSsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="span10">Domain Name Servers</th>
                                        <th class="span2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Eth0DomainNameServer in @Model.Extension.Model.Eth0DomainNameServers)
                                    {
                                        <tr>
                                            <td class="span10"><input name="Eth0DomainNameServers" class="input-block-level" type="text" value="@Eth0DomainNameServer"></td>
                                            <td class="span2"><button type="button" class="btn btn-red btn-deletecolumn"><i class="icon-trash"></i></button></td>
                                        </tr>
                                    }

                                    <tr>
                                        <td class="span10"></td>
                                        <td class="span2"><button type="button" class="btn btn-green" id="btn-neweth0dns"><i class="icon-plus"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <h3 class="box-header">WiFi (wlan0)</h3>
                    <div class="box non-collapsible">

                        <div class="row-fluid"><div class="span12"><b>IP Address</b></div></div>
                        <div class="row-fluid"><div class="span12"><input id="Wlan0IPAddress" name="Wlan0IPAddress" class="input-block-level" type="text" value="@Model.Extension.Model.Wlan0IPAddress"></div></div>

                        <div class="row-fluid"><div class="span12"><b>IP 6 Address</b></div></div>
                        <div class="row-fluid"><div class="span12"><input name="Wlan0IP6Address" class="input-block-level" type="text" value="@Model.Extension.Model.Wlan0IP6Address"></div></div>

                        <div class="row-fluid">
                            <table id="Wlan0RoutersTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="span10">Routers</th>
                                        <th class="span2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Wlan0Router in @Model.Extension.Model.Wlan0Routers)
                                    {
                                        <tr>
                                            <td class="span10"><input name="Wlan0Routers" class="input-block-level" type="text" value="@Wlan0Router"></td>
                                            <td class="span2"><button type="button" class="btn btn-red btn-deletecolumn"><i class="icon-trash"></i></button></td>
                                        </tr>
                                    }

                                    <tr>
                                        <td class="span10"></td>
                                        <td class="span2"><button type="button" class="btn btn-green" id="btn-newwlan0router"><i class="icon-plus"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row-fluid">
                            <table id="Wlan0DNSsTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="span10">Domain Name Servers</th>
                                        <th class="span2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Wlan0DomainNameServer in @Model.Extension.Model.Wlan0DomainNameServers)
                                    {
                                        <tr>
                                            <td class="span10"><input name="Wlan0DomainNameServers" class="input-block-level" type="text" value="@Wlan0DomainNameServer"></td>
                                            <td class="span2"><button type="button" class="btn btn-red btn-deletecolumn"><i class="icon-trash"></i></button></td>
                                        </tr>
                                    }

                                    <tr>
                                        <td class="span10"></td>
                                        <td class="span2"><button type="button" class="btn btn-green" id="btn-newwlan0dns"><i class="icon-plus"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <h3 class="box-header">Wireless LAN</h3>
                <div class="box">

                    @if (!Model.Extension.Model.WiFiCountrySet)
                    {
                        <a href="@Raw(Model.Context.Paths.Home)localisation/">Set WiFi Country</a>
                    }
                    else
                    {
                        <h3 class="box-header">Saved Networks</h3>
                        <div class="box non-collapsible">
                            <table id="devicesTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="span10">SSID</th>
                                        @*<th class="span5">Passphrase</th>*@
                                        <th class="span2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int Index = 0; Index < Model.Extension.Model.SSIDs.Length; Index++)
                                    {
                                        <tr>
                                            <td class="span10">@Raw(Model.Extension.Model.SSIDs[Index])</td>
                                            @*<td class="span5">@Raw(Model.Extension.Model.Passphrases[Index])</td>*@
                                            <td class="span2"><a class="btn btn-red btn-deletewifi" href="@Raw(Model.Context.Paths.Home)network/deletewifi/?id=@Model.Extension.Model.SSIDs[Index]"><i class="icon-trash"></i></a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                        <h3 class="box-header">Available or New Networks</h3>
                        <div class="box non-collapsible">
                            <table id="devicesTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="span2"></th>
                                        <th class="span5">SSID</th>
                                        <th class="span5">Passphrase</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="span2"><a class="btn btn-blue btn-scanwifi" href="#">Scan</a></td>
                                        <td class="span5">
                                            <div class="input-prepend span12">
                                                <div class="btn-group">
                                                    <button class="btn dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                                        <span class="caret">
                                                        </span>
                                                    </button>
                                                    <ul id="availableNetworks" class="dropdown-menu">
                                                        <li><a class="btn-scanwifi" href="#">Click Scan to search for available WiFi networks</a></li>
                                                    </ul>
                                                    <input id="newSSID" name="NewSSID" class="span11" type="text" placeholder="New SSID" value="">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="span5"><input type="text" name="NewPassphrase" placeholder="New Passphrase" value=""></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</section>

<script>

    function NewRow(theName) {
        return '<tr>\
<td class="span10"><input name="' + theName + '" class="input-block-level" type="text" value=""></td>\
<td class="span2"><button type="button" class="btn btn-red btn-deletecolumn"><i class="icon-trash"></i></button></td>\
</tr>'
    }

    var SaveWarningTimer;

    function SaveWarning() {
        if ($("#btn-save").hasClass("btn-green")) {
            $("#btn-save").removeClass("btn-green")
        }
        else {
            $("#btn-save").addClass("btn-green")
        }
    }

    function ApplyOnClickDeleteColumn() {

        $(".btn-deletecolumn").click(function (event) {
            event.preventDefault();
            $(this).closest("tr").remove();

            if (!SaveWarningTimer) {
                SaveWarningTimer = setInterval(SaveWarning, 700);
            }
        });
    }


    $(".btn-deletecolumn").click(function (event) {
        event.preventDefault();
        $(this).closest("tr").remove();;
    });

    $("#btn-neweth0router").click(function () {
        $('#Eth0RoutersTable tr:last').before(NewRow('Eth0Routers'));
        ApplyOnClickDeleteColumn();
    });

    $("#btn-neweth0dns").click(function () {
        $('#Eth0DNSsTable tr:last').before(NewRow('Eth0DomainNameServers'));
        ApplyOnClickDeleteColumn();
    });

    $("#btn-newwlan0router").click(function () {
        $('#Wlan0RoutersTable tr:last').before(NewRow('Wlan0Routers'));
        ApplyOnClickDeleteColumn();
    });

    $("#btn-newwlan0dns").click(function () {
        $('#Wlan0DNSsTable tr:last').before(NewRow('Wlan0DomainNameServers'));
        ApplyOnClickDeleteColumn();
    });

    ApplyOnClickDeleteColumn();

    $(".btn-deletewifi").click(function (event) {
        event.preventDefault();

        var theRow = $(this).closest("tr");

        $.post($(this).attr('href'), function (data) {

        })
        .done(function () {
            theRow.remove();
        });
    });

    $(".btn-scanwifi").click(function (event) {
        event.preventDefault();

        $.ajax({
            type: "GET",
            url: "@Raw(Model.Context.Paths.APIs)network/scan/",
            success: function (data) {
                var unorderedList = '';
                for (var i = 0; i < data.length; i++) {
                    unorderedList += '<li><a class="availableSSID" href="#">' + data[i] + '</a></li>'
                }
                $("#availableNetworks").html(unorderedList);

                $('.availableSSID').click(function (event) {
                    event.preventDefault();
                    $("#newSSID").val($(this).text());
                });
            }
        });
    });

    var PreviousStaticEth0IPAddress = "@Model.Extension.Model.Eth0IPAddress";
    var PreviousStaticWlan0IPAddress = "@Model.Extension.Model.Wlan0IPAddress";

    @foreach (var Interface in @Model.Extension.Model.Interfaces)
{
    if(Interface.Name == "eth0")
    {
        <text>var Eth0IPAddress = "</text>@Raw(Interface.Inet)<text>";</text>
    }
    else if (Interface.Name == "wlan0")
    {
        <text>var Wlan0IPAddress = "</text>@Raw(Interface.Inet)<text>";</text>
    }
}

    $("#btn-save").click(function (event) {
        var NewStaticEth0IPAddress = document.getElementById("Eth0IPAddress").value;
        var NewStaticWlan0IPAddress = document.getElementById("Wlan0IPAddress").value;

        var NewIPAddress = "";

        if (PreviousStaticEth0IPAddress != NewStaticEth0IPAddress && window.location.hostname == Eth0IPAddress) {
            NewIPAddress = NewStaticEth0IPAddress.split("/")[0];
        }
        else if (PreviousStaticWlan0IPAddress != NewStaticWlan0IPAddress && window.location.hostname == Wlan0IPAddress) {
            NewIPAddress = NewStaticWlan0IPAddress.split("/")[0];
        }
        else {
            return;
        }

        if (NewIPAddress == "") {
            if (confirm('Setting the IP Address to DHCP means you will now loose the connection with MultiPlug. Continue?')) {
                return;
            } else {
                event.preventDefault();
                return;
            }
        }

        event.preventDefault();

        var form = $('#formsave')[0];
        var data = new FormData(form);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            success: function (data) {
            },
            error: function (e) {
            }
        });

        location.href = window.location.href.replace(window.location.hostname, NewIPAddress);
    });

</script>